@import "tailwindcss";

@theme {
    --color-dark: #3b3b3b;
    --color-darker: #1f1f1f;
    --color-gray: #4a5565;

    --color-blue: #09f;
    --color-light-blue: #18CDD0;
    --color-pink: #B444A9;
}